# Virtual environment files
venv/
.env/
ENV/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite
*.db

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# macOS files (if working cross-platform)
.DS_Store

# Windows files (if applicable)
Thumbs.db